$fontFamily: "Helvetica Neue";
.adminclassroom-editcoursepage {
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title {
      color: black;
      font-size: 24px;
      font-weight: bold;
      font-family: $fontFamily;
      line-height: 29px;
    }
  }
  &-editmodebtn {
    width: 105px;
    height: 20px;
    border-radius: 10px;
    background-color: #7ed321;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-family: $fontFamily;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    cursor: default;
  }
  &-skilltitle {
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    font-family: $fontFamily;
    text-align: center;
  }
  &-savepagebtnContainer {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &-savepagebtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-label {
      color: black;
      font-size: 16px;
      line-height: 18px;
      font-family: $fontFamily;
      font-weight: 500;
      margin-left: 10px;
      cursor: default;
    }
  }
  &-nextbtn {
    width: 184px;
    height: 40px;
    border-radius: 20px;
    background-color: #a4d321;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-family: $fontFamily;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: default;
      background-color: white;
      border: 1px solid #a4d321;
      color: #a4d321;
    }
  }
  &-section1 {
    display: flex;
    flex-direction: column;
    &-video {
      color: black;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      font-family: $fontFamily;
      text-align: center;
    }
    &-upload {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-label {
        color: black;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        font-family: $fontFamily;
        text-align: center;
      }
      &-video {
        margin-left: 20px;
      }
    }
  }
  &-section2 {
    display: flex;
    flex-direction: column;
    &-title {
      color: black;
      font-size: 23px;
      line-height: 27px;
      font-family: $fontFamily;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    &-desp {
      color: black;
      font-size: 15px;
      line-height: 19px;
      font-family: $fontFamily;
      font-weight: 500;
      border: none;
      width: 100%;
      height: 150px;
      resize: none;
      text-align: left;
    }
  }
}
