.event_content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-top: 150px;
  .back_button {
    background-color: #fed008;
    border-radius: 12px;
    color: white !important;
    padding: 10px 20px;
    width: 20px;
  }
  .detail_event {
    margin-top: 20px;
    .ant-row {
      display: flex;
      border-radius: 5px;
      .ant-col {
        flex: 1;
        text-align: left;
        p {
          margin-left: 30px;
          font-family: 'HelveticaNeue';
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .event__header {
    h4 {
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.05px;
      line-height: 29px;
      margin-bottom: 40px;
    }
    .controller {
      right: 0;
      img:first-of-type {
        transform: rotate(180deg);
        margin-right: 5px;
      }
    }
  }

  .event__card {
    .card-item {
      cursor: pointer;
      border: 0px solid rgba(0, 0, 0, 0.10999999940395355);
      border-radius: 5px;
      width: 23.5%;
      margin-bottom: 30px;
      img {
        width: 100%;
        height: 266px;
      }
      h5 {
        margin-top: 5px;
        color: #6f6f6f;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.03px;
        line-height: 16px;
        text-align: left;
        padding: 0 10px;
      }
      p {
        color: #4f4d4d;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0.04px;
        line-height: 22px;
        text-align: left;
        padding: 0 10px;
      }
    }
  }
}
