$color_1: #000;
$color_2: #fed008;
.Footer {
  footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    .footer_section_title {
      color: $color_1;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.04px;
      line-height: 19px;
    }
    .social-buttons-group {
      img {
        margin: 10px;
      }
    }
    .link_row {
      margin-top: 15px;
      border-bottom: 1px solid #ccc;
      .link_list {
        padding-left: 0px;
        li {
          list-style-type: none;
          display: block;
          a {
            color: $color_1;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.03px;
            line-height: 34px;
            &:hover {
              color: $color_2;
              text-decoration: none;
            }
            &:focus {
              color: $color_2;
              text-decoration: none;
            }
          }
        }
      }
    }
    .link_onlyborder {
      border-bottom: 1px solid #ccc;
    }
    .copyright_row {
      padding: 20px 0px 20px 0px;
      .logo_link {
        opacity: 0.14;
        img {
          width: 100px;
        }
      }
      .social_link {
        padding-left: 0px;
        text-align: center;
        img {
          cursor: pointer;
          padding: 20px;
        }
      }
      .copyright_text {
        color: $color_1;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03px;
        line-height: 17px;
        text-align: right;
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .copyright_row {
    text-align: center;
  }
  .social_link {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .copyright_text {
    text-align: center !important;
  }
}
