@import "./header";
@import "./footer";
@import "./banner";
@import "./about";
@import "./faq";
@import "./contact";
@import "./login";
@import "./signup";
@import "./blog";
@import "./event";
@import "./jobs";

// css home page
@import "./home/overpaying";
@import "./home/choose_renew";
// @import "./home/student_jumbotron";
@import "./home/testimony";
@import "./home/home";

@import "./UI/index";
