$mgreen: #001339;
.Signup{
    &__Content{
        padding: 120px 200px;
        text-align: center;
        @include breakpoint(991){
            padding: 120px 50px;
        }
        @include breakpoint(768){    
            padding: 150px 100px 100px;
        }
        @include breakpoint(480){
            padding: 150px 50px 50px;
        }
        &__Form{
            &__Title{
                width: 100% !important;
                text-align: left;
                border-bottom: 2px solid #badb5f;
                font-size: 21px;
                color: $mgreen;
                font-weight: 600;
            }
        }
        p{
            width: 250px;
            margin: 0 auto;
        }
        h3{
            color: $mgreen;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .row{
            text-align: left;
            .form-group{
                margin-bottom: 10px;
            }
            .form-group.space{
               height: 77px;
            }
            label{
                font-size: 21px;
                color: $mgreen;
                font-weight: 600;
                span{
                    color: red;
                }
            }
            // .col-md-6{
            //     padding: 20px;
            // }
        }
        .submit{
            margin-top: 15px;
            button{
                width: 165px;
                background: #badb5f;
                border: 0;
            }
        }
    }
}