.CVDoctorContent {
  &__Header {
    text-align: center;
    padding: 0 13%;
    padding-bottom: 30px;

    h3 {
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 0.05px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      color: #373333;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.03px;
      line-height: 25px;
      text-align: center;
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;

    &__Head {
      display: flex;

      @include breakpoint(640) {
        flex-direction: column;
      }

      &--Col {
        flex-basis: 0;
        flex: 1 1 0;
        padding: 20px;
      }
    }
  }

  &__Footer {
    text-align: center;

    .item {
      width: 20%;
    }

    .form-upload {
      .form-upload-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: black;
        text-align: center;
        line-height: 30px;
        font-size: 22px;
        display: inline-block;
        color: white;
        margin-right: 20px;
        margin-bottom: 50px;
        cursor: pointer;

        &:hover {
          background: #373333;
        }
      }
    }

    p {
      font-family: HelveticaNeue;
      font-size: 29px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.38;
      letter-spacing: -0.97px;
      color: #000000;
    }

    button {
      margin: 5px;
      padding: 10px 30px;
      border-radius: 25.5px;
      background-color: #fed008;
    }
  }
}
