.ForgotPasswordContent {
  &__Header {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;

    h3 {
      font-size: 24px;
      letter-spacing: 0.05px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    span {
      color: #b4b4b4;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03px;
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;

    &__Head {
      display: flex;

      @include breakpoint(640) {
        flex-direction: column;
      }

      &--Col {
        flex-basis: 0;
        flex: 1 1 0;
        padding: 20px;
      }
    }

    &__Footer {
      text-align: center;
    }
  }
}
