@import "./modal-form/forgot_password_content";
@import "./modal-form/choose_plan_employer";
@import "./modal-form/cv_doctor_content";

@import "./modal-form/signup_content";
@import "./modal-form/login_content";
@import "./modal-form/choose_basic";
@import "./modal-form/choose_premium";
@import "./modal-form/choose_plan_signup_content";
