.Input {
  &__Label {
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  }
  input {
    border: 0;
    border-bottom: 1px solid $zt-dark;
    border-radius: 0;
    padding-left: 0;
  }
}
