.PaymentSuccessContent {
  text-align: center;
  &__Header {
    h3 {
      color: #000000;
      font-family: HelveticaNeue;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.05px;
      text-transform: uppercase
    }
  }

  &__Footer {
    button {
      margin-top: 50px;
      padding: 10px 30px;
      background-color: #fed008;
      border-radius: 25.5px;
      color: #000000;
      font-family: HelveticaNeue;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.03px;
      line-height: 17px;
    }
  }
}
