.Step {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(480) {
    // flex-direction: column;
  }
  &__Item {
    // flex-shrink: 0;
    // flex-grow: 1;
    text-align: center;
    flex-basis: 0;
    flex: 1 1 0;
    margin-left: -5px;
    margin-right: -5px;
    &__Title {
      height: 50px;
      display: block;
      font-weight: bold;
      font-size: 15px;
      color: $zt-dark;
    }
    &__Line {
      height: 7px;
      border-radius: 3.5px;
      background: $zt-light;
      position: relative;
      span {
        position: absolute;
        left: calc(50% - 8px);
        top: -5px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid $zt-dark;
        background: white;
        display: block;
      }
    }
    &__Active {
      &:hover{
        cursor: pointer;
      }
      span {
        color: black;
      }
      p {
        z-index: 9;
        position: relative;
        background: $zt-primary-dark;
        span {
          position: absolute;
          left: calc(50% - 8px);
          top: -5px;
          width: 16x;
          height: 16px;
          border-radius: 50%;
          border: 0;
          background: $zt-primary-dark;
          display: block;
        }
      }
    }
    &__Disabled{
      cursor: not-allowed;
    }
  }
}
